body {
    background-color: #f8efdb;
}

.title, .subtitle{
    text-align: center;
    font-family: "Monaco", "Helvetica", serif;
    font-weight: bolder;
}

.title {
    color: #1c1aa3d5
}

.links, .description, .ingredients, .steps{
    text-align: center;
    font-size: larger;
    line-height: 0.8cm;
}

.links, .description, .ingredients{
    list-style:none;
}

.steps{
    text-align: justify;
}

.image-container{
    display: flex;
    justify-content: center;
}

.links li{
    display: inline-block;
    padding: 35px;
}

.links li a{
    text-decoration: none;
   
}

.links li a:visited{
    color: rgb(255, 0, 0);
}

.links li a:hover{
    color: white;
    background-color:#1c1aa3d5;
    padding: 10px;
    border-radius: 10px;
}

.backtext a {
    text-decoration: none;
    color:#1c1aa3d5;
}

.backtext a:visited {
    color: rgb(255, 0, 0);
} 