body {
    background-color: #f8efdb;
}

.title, .subtitle{
    text-align: center;
    font-family: "Monaco", "Helvetica", serif;
    font-weight: bolder;
}

.title {
    color: hsla(241, 72%, 37%, 0.836);
}

.links, .description, .ingredients, .steps{
    text-align: center;
    font-size: larger;
    line-height: 0.8cm;
}

.links, .description, .ingredients{
    list-style:none;
}

.steps{
    text-align: justify;
}

.image-container{
    display: flex;
    justify-content: center;
}

