body {
    background-color: #f8efdb;
}

.title, .subtitle{
    text-align: center;
    font-family: "Monaco", "Helvetica", serif;
    font-weight: bolder;
}

.title {
    color: #1d84c7;
}

.links, .description, .ingredients, .steps{
    text-align: center;
    font-size: larger;
    line-height: 0.8cm;
}
